body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}

h1 h2 h3 h4 h5{
    font-family: 'Roboto', sans-serif;
    
}
p {
    font: #777777;
    font-size:16px;
    line-height: 24px;
    text-align:justify;
}
img{
    width:200px;
}

.heading{
    font-size: 18px;
    color: purple;
    text-align:right;

}

.container{
    background:#666666;
    background-image: url("just-waves.png");
    background-repeat: repeat;
    position:fixed;
    width:100%;
    height:100%;


}
#main-container{

}
.header{
    background:#ffffff;
    border-bottom: 2px solid #cccccc;
    width:100%;
    margin-bottom: 5%;
    position:fixed;
    text-align:right;
    z-index:2;
    
}
.namebox{
    background: #4aaaa5;
    padding: 2%;
    width:15%;
    color:#ffffff;
    font-weight: bold;
    font-size:18px;
    float:left;
    margin-left:10%;
    text-align:center;
}
.sec{
    background:#ffffff;
    margin-top:14%;
    margin-left:10%;
    margin-right: 10%;
    margin-bottom:10%;
    width:960px;
    position:relative;
    height:60%;
    z-index:1;
}

.sectop{
    color: #4aaaa5;
    font-weight:bold;
    font-size:18px;
    background:#ffffff;
    padding:2%;
    z-index:1;
    

}
.secmid{
    background:#ffffff;
    float:left;
    border-top: 2px solid #dddddd;
    margin-left: 2%;
    margin-right: 2%;
    width:60%;
    z-index:0;
}
#bioimg{
    width:100px;
    float:left;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
}
.bodytext{
    background:#ffffff;
    color:#777777;
    margin-left:2%;
    margin-top:2%;
    

}
.body-left{
    float:left;
}
.social{
    position:relative;
    top:0;
    left:0;
}
.sec2{
    float:right;
    padding:20px;
    width:20%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #cccccc;
    text-align: center;
    padding:20px;
    z-index:2;
 }

.nav{
    margin-right:10%;
    float:right;
    text-align:right;
    margin-top:20px;
}
.form{
    width:900px;
   
    
}
.form2{
    width:100%;
    
}
li {
    margin:2%;
}
.fcontain {
    width:50%;
    height:100%;
    margin-left:2%;

    position:fixed;
}

.textbox{
    margin-bottom:2%;
    width:50%;

}
.textbox2{
   
    padding-bottom:70px;
    width:50%;

}
.subbox{
    margin-top:0%;
    background: #4aaaa5;
    width:20%;
}

.portmid{
    border-top: 2px solid #dddddd;
    margin-left: 2%;
    margin-right: 2%;
}
.portfolio-item {
    position: relative;
    display: inline-block;
    margin-left:2%;
}

.portfolio-banner {
    position: absolute;
    bottom: 10px;
    text-align: center;
    background: teal;
    width: 100%;
    color: white;
}
.sec-border{
    border-top: 2px solid #dddddd;
    margin-left: 2%;
    margin-right:2%;
    margin-bottom:2%;
}
