body{
    margin:0;
}

h1 h2 h3 h4 h5{
    font-family:'Georgia', Times, 'Times New Roman', serif;
}
p {
    font: #777777;
    font-size:16px;
    line-height: 24px;
    text-align:justify;
}
img{
    width:200px;
}

.heading{
    font-size: 18px;
    color: purple;
    text-align:right;

}

.container{
    background:#666666;
    background-image: url("just-waves.png");
    background-repeat: repeat;
    position:fixed;
    width:100%;
    height:100%;
    

}
.header{
    background:#ffffff;
    border-bottom: 2px solid #cccccc;
    width:100%;
    margin-bottom: 5%;
    position:fixed;
    text-align:right;
    z-index:2;
    
}
.namebox{
    background: #4aaaa5;
    padding: 2%;
    width:15%;
    color:#ffffff;
    font-weight: bold;
    font-size:18px;
    float:left;
    margin-left:10%;
    text-align:center;
}
.sec{
    background:#ffffff;
    margin-top:14%;
    margin-left:10%;
    margin-right: 10%;
    margin-bottom:10%;
    width:960px;
    position:relative;
    height:60%;
    z-index:1;
}

.sectop{
    color: #4aaaa5;
    font-weight:bold;
    font-size:18px;
    background:#ffffff;
    padding:2%;
    z-index:1;
    

}
.secmid{
    background:#ffffff;
    float:left;
    border-top: 2px solid #dddddd;
    margin-left: 2%;
    margin-right: 2%;
    
    z-index:0;
}
#bioimg{
    width:100px;
    float:left;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
}
.bodytext{
    background:#ffffff;
    color:#777777;
    margin-left:2%;
    

}
/* .footer{
    padding:20px;
    border-top: 8px solid #4aaaa5;
    text-align:center;
    background:#666666;
    color:#cccccc;
    position: fixed;
    margin-top:3%;
    width:100%;
    border-bottom: 800px solid #ffffff;

    
} */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #cccccc;
    text-align: center;
    padding:20px;
    z-index:2;
 }

.nav{
    margin-right:10%;
    float:right;
    text-align:right;
    margin-top:20px;
}
.form{
    width:900px;
   
    
}
.fcontain {
    margin-left:2%;
    margin-top:2%;
    width:40%;
    position:fixed;
    height:50%;
}

.formname{
    position:absolute;
    width: 100%;
    height:5%;
    bottom: 80%;
    left: 140px;
}    
    

.formemail{
    position:absolute;
    width: 100%;
    height:5%;
    bottom: 70%;
    left: 140px;
    
}
.formmessage{
    position:absolute;
    width: 90%;
    height:10%;
    bottom: 40%;
    left: 140px;  
    padding:5%;

}
.formsubmit{
    background:#4aaaa5;
    position:absolute;
    width: 40%;
    bottom: 30%;
    left: 140px;
    
}
.formlabel{
    position: absolute;
    left: 70px;
    bottom:75%;
    width: 25%;
}
.formlabel1{
    position:absolute;
    left: 70px;
    bottom: 65%;
    width: 25%;
    
}
.formlabel2{
    position:absolute;
    left: 70px;
    bottom: 55%;
    width: 25%;
}




.portmid{
    border-top: 2px solid #dddddd;
    margin-left: 2%;
    margin-right: 2%;
}
.portfolio-item {
    position: relative;
    display: inline-block;
    margin-left:2%;
}

.portfolio-banner {
    position: absolute;
    bottom: 10px;
    text-align: center;
    background: teal;
    width: 100%;
    color: white;
}
.sec-border{
    border-top: 2px solid #dddddd;
    margin-left: 2%;
    margin-right:2%;
    margin-bottom:2%;
}

